.container {
	width: 60%;
}
.buttonsSection {
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.display {
	text-align: right;
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
	}
}
